html(lang="nl")
	head
		title #{pageTitle}
		meta(charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin="")
		script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin="")
		include partials/head.pug
	body
		div(class="main")
			noscript
				p(class="nojs-errMsg") Deze applicatie werkt beter als je JavaScript aan hebt! 
					a(href="https://support.clio.com/hc/en-us/articles/360040902634-How-to-Enable-JavaScript-in-Your-Web-Browser" class="nojs-err-direct" target="_blank") Klik hier voor meer uitleg
				form(action="/searchCity" method="POST")
					input(type="text" class="searchCity" name="city" placeholder="Zoek een stad..." required)
					button(type="submit" class="nojs-searchBtn") Zoek
				style(type="text/css").
					.searchContent {display: none;}
			div(class="searchContent")
				div
					input(type="text" id="city" class="searchCity" placeholder="Zoek een stad...")
					a(href="javascript:void(0)" class="searchBtn") Zoek
					a(href="javascript:void(0)" class="getLocation") Mijn locatie
					p(class="err-msg")
					span(class="average")
			div(id="map")
		include partials/footer.pug